<section id="card">
	<div id="c1">
		<div id="header1">
			<div id="row1">
				<h3>{{ posts[0].get('user').get('username') }}</h3>
				<i class="fas fa-ellipsis-h"></i>
			</div>
			<div class="pic1">
				<img id="cardpic1", src="{{ posts[0].get('image_url') }}" alt="", width="100%", height="30%">
			</div>
		</div>
		<div id="row2">
			<div>
				<i class="far fa-heart"></i>
				<i class="far fa-comment"></i>
				<i class="far fa-paper-plane"></i>
			</div>
			<i class="far fa-bookmark"></i>
		</div>
		<div id="row3">
			<div>
				<p class="like">{{ posts[0].get('likes') }} Likes</p>
			</div>

			{% if posts[0].get('comments')[0]|length > 0 %}
			<div class="comment">
				<p class="user">
				{{ posts[0].get('comments')[0].get('user').get('username') }}
				</p>
				<div class="co">
					<p class="content"> {{ posts[0].get('comments')[0].get('text') }}</p>
				<p class="more"><a href="">more</a></p>
				</div>
			</div>{% endif %}

			{% set expd = false %}
			{% if posts[0].get('comments')[1]|length > 0 %}
			<div >
				<p class="view"><a href='http://127.0.0.1:5000/'>View all {{ posts[0].get('comments')|length }} comments</a></p>
			</div>
			<div class="comment">
				<p class="user">
				{{ posts[0].get('comments')[1].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[0].get('comments')[1].get('text') }}</p>
			</div>
			{% endif %}

			{% if posts[0].get('comments')[2]|length > 0 and expd == true %}
			<div class="comment">
				<p class="user">
				{{ posts[0].get('comments')[2].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[0].get('comments')[2].get('text') }}</p>
			</div>
			{% endif %}

			<div>
				<p class="date">{{ posts[0].get('display_time') }}</p>
			</div>			
		</div>
		<div id="row4">
			<div id="row4_1">
				<i class="far fa-smile"></i>
				<p>Add a comment...</p>
			</div>
			<p><a href="">Post</a></p>
		</div>
	</div>

	<div id="space">
		<p> </p>
	</div>

	<div id="c2">
		<div id="header2">
			<div id="row1">
				<h3>{{ posts[1].get('user').get('username') }}</h3>
				<i class="fas fa-ellipsis-h"></i>
			</div>
			<img id="cardpic2", src="{{ posts[1].get('image_url') }}" alt="", width="100%", height="30%">
		</div>
		<div id="row2">
			<div>
				<i class="far fa-heart"></i>
				<i class="far fa-comment"></i>
				<i class="far fa-paper-plane"></i>
			</div>
			<i class="far fa-bookmark"></i>
		</div>
		<div id="row3">
			<div>
				<p class="like">{{ posts[1].get('likes') }} Likes</p>
			</div>

			{% if posts[1].get('comments')[0]|length > 0 %}
			<div class="comment">
				<p class="user">
				{{ posts[1].get('comments')[0].get('user').get('username') }}
				</p>
				<div class="co">
					<p class="content"> {{ posts[1].get('comments')[0].get('text') }}</p>
				<p class="more"><a href="">more</a></p>
				</div>
			</div>
			{% endif %}

			{% set expd = false %}
			{% if posts[1].get('comments')[1]|length > 0 %}
			<div >
				<p class="view"><a href='http://127.0.0.1:5000/'>View all {{ posts[1].get('comments')|length }} comments</a></p>
			</div>
			<div class="comment">
				<p class="user">
				{{ posts[1].get('comments')[1].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[1].get('comments')[1].get('text') }}</p>
			</div>
			{% endif %}

			{% if posts[1].get('comments')[2]|length > 0 and expd == true%}
			<div class="comment">
				<p class="user">
				{{ posts[1].get('comments')[2].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[1].get('comments')[2].get('text') }}</p>
			</div>
			{% endif %}

			<div>
				<p class="date">{{ posts[1].get('display_time') }}</p>
			</div>			
		</div>
		<div id="row4">
			<div id="row4_1">
				<i class="far fa-smile"></i>
				<p>Add a comment...</p>
			</div>
			<p><a href="">Post</a></p>
		</div>
	</div>

	<div id="space">
		<p> </p>
	</div>

	<div id="c3">
		<div id="header3">
			<div id="row1">
				<h3>{{ posts[2].get('user').get('username') }}</h3>
				<i class="fas fa-ellipsis-h"></i>
			</div>
			<img id="cardpic3", src="{{ posts[2].get('image_url') }}" alt="", width="100%", height="30%">
		</div>
		<div id="row2">
			<div>
				<i class="far fa-heart"></i>
				<i class="far fa-comment"></i>
				<i class="far fa-paper-plane"></i>
			</div>
			<i class="far fa-bookmark"></i>
		</div>
		<div id="row3">
			<div>
				<p class="like">{{ posts[2].get('likes') }} Likes</p>
			</div>

			{% if posts[2].get('comments')[0]|length > 0 %}
			<div class="comment">
				<p class="user">
				{{ posts[2].get('comments')[0].get('user').get('username') }}
				</p>
				<div class="co">
					<p class="content"> {{ posts[2].get('comments')[0].get('text') }}</p>
				<p class="more"><a href="">more</a></p>
				</div>
			</div>
			{% endif %}

			{% set expd = false %}
			{% if posts[2].get('comments')[1]|length > 0 %}
			<div >
				<p class="view"><a href='http://127.0.0.1:5000/'>View all {{ posts[2].get('comments')|length }} comments</a></p>
			</div>
			<div class="comment">
				<p class="user">
				{{ posts[2].get('comments')[1].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[2].get('comments')[1].get('text') }}</p>
			</div>
			{% endif %}

			{% if posts[2].get('comments')[2]|length > 0 and expd == true%}
			<div class="comment">
				<p class="user">
				{{ posts[2].get('comments')[2].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[2].get('comments')[2].get('text') }}</p>
			</div>
			{% endif %}

			<div>
				<p class="date">{{ posts[2].get('display_time') }}</p>
			</div>			
		</div>
		<div id="row4">
			<div id="row4_1">
				<i class="far fa-smile"></i>
				<p>Add a comment...</p>
			</div>
			<p><a href="">Post</a></p>
		</div>
	</div>

	<div id="space">
		<p> </p>
	</div>

	<div id="c4">
		<div id="header4">
			<div id="row1">
				<h3>{{ posts[3].get('user').get('username') }}</h3>
				<i class="fas fa-ellipsis-h"></i>
			</div>
			<img id="cardpic4", src="{{ posts[3].get('image_url') }}" alt="", width="100%", height="30%">
		</div>
		<div id="row2">
			<div>
				<i class="far fa-heart"></i>
				<i class="far fa-comment"></i>
				<i class="far fa-paper-plane"></i>
			</div>
			<i class="far fa-bookmark"></i>
		</div>
		<div id="row3">
			<div>
				<p class="like">{{ posts[3].get('likes') }} Likes</p>
			</div>

			{% if posts[3].get('comments')[0]|length > 0 %}
			<div class="comment">
				<p class="user">
				{{ posts[3].get('comments')[0].get('user').get('username') }}
				</p>
				<div class="co">
					<p class="content"> {{ posts[3].get('comments')[0].get('text') }}</p>
				<p class="more"><a href="">more</a></p>
				</div>
			</div>
			{% endif %}

			{% set expd = false %}
			{% if posts[3].get('comments')[1]|length > 0 %}
			<div >
				<p class="view"><a href='http://127.0.0.1:5000/'>View all {{ posts[3].get('comments')|length }} comments</a></p>
			</div>
			<div class="comment">
				<p class="user">
				{{ posts[3].get('comments')[1].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[3].get('comments')[1].get('text') }}</p>
			</div>
			{% endif %}

			{% if posts[3].get('comments')[2]|length > 0 and expd == true %}
			<div class="comment">
				<p class="user">
				{{ posts[3].get('comments')[2].get('user').get('username') }}
				</p>
				<p class="content"> {{ posts[3].get('comments')[1].get('text') }}</p>
			</div>
			{% endif %}

			<div>
				<p class="date">{{ posts[3].get('display_time') }}</p>
			</div>			
		</div>
		<div id="row4">
			<div id="row4_1">
				<i class="far fa-smile"></i>
				<p>Add a comment...</p>
			</div>
			<p><a href="">Post</a></p>
		</div>
	</div>
</section>