<section id="story">
	<div id="s1">
		<img id="si1", src="{{ stories[1].get('user').get('image_url') }}", alt="p1", width="80px", height="80px">
		<p id="sn1">{{ stories[1].get('user').get('username') }}</p>
	</div>
	<div id="s2">
		<img id="si2", src="{{ stories[2].get('user').get('image_url') }}", alt="p2", width="80px", height="80px">
		<p id="sn2">{{ stories[2].get('user').get('username') }}</p>
	</div>
	<div id="s3">
		<img id="si3", src="{{ stories[3].get('user').get('image_url') }}", alt="p3", width="80px", height="80px">
		<p id="sn3">{{ stories[3].get('user').get('username') }}</p>
	</div>
	<div id="s4">
		<img id="si4", src="{{ stories[4].get('user').get('image_url') }}", alt="p4", width="80px", height="80px">
		<p id="sn4">{{ stories[4].get('user').get('username') }}</p>
	</div>
	<div id="s5">
		<img id="si5", src="{{ stories[5].get('user').get('image_url') }}", alt="p5", width="80px", height="80px">
		<p id="sn5">{{ stories[5].get('user').get('username') }}</p>
	</div>
</section>

<div id="space">
	<p> </p>
</div>