<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Wensong Zhang HW1</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

		<body>
			<main>

				{% include 'includes/navbar.html' %}

				{% include 'includes/suggestions.html' %}

				<section id="mainpart">
					
					{% include 'includes/stories.html' %}

					{% include 'includes/cards.html' %}

				</section>
			</main>
		</body>
	</head>
</html>

<!-- An alt-text editing feature can be added to my program by:
	 1. Add a text input box under the image.
	 2. User can input text at the box.
	 3. Then, there is a button next to the input box.
	 4. User press the button, then the text will show on the image.
-->